<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--OPC配置  需把服务端属性 槽修改为1【以下位机为准】-->
    <add key="OpcServerName" value="Kepware.KEPServerEX.V6" />
    <add key="OpcGroupName" value="Stacking" />
    <add key="OpcServerIP" value="127.0.0.1" />
    <add key="LocIp" value="127.0.0.1" />
    <!--数据库配置-->
    <add key="DbIp" value="127.0.0.1" />
    <add key="JYM_2_LK" value="Data Source=192.168.31.196;Initial Catalog=JYM_2_LK;User ID=sa;password=mesnac" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>